.bgAvtar {

    position: relative;
    width: 100%;
    // padding-bottom: 20px;
    height: 170px;
}

.avatarInfo {
    padding: 20px 20px 20px;
    color: #fff;
    background: url('../../assets/lake.jpg') no-repeat;
    height: 150px;

    .qrcodeIcon {
        position: absolute;
        right: 20px;
        // top: 60px;
        line-height: 30px;
        font-size: 32px;
    }

    .tool {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        height: 25px;
    }

    .avatarShow {
        display: flex;
        // justify-content: space-between;
        align-items: center;

        :global {

            .adm-image-img,
            .adm-image-tip {
                border-radius: 50%;
            }
        }

        .authorInfo {
            margin-left: 8px;
        }
    }
}

.funcList {
    display: flex;
    background: #fff;
    justify-content: space-between;
    margin: 12px 8px;
    padding: 10px 20px;
    border-radius: 8px;
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // padding: 20px;
        div:first-of-type {
            font-size: 30px;
        }
    }
}

.canClickList {
    padding: 32px 9px 52px;
}

// 事件记录
.eventList {
    padding: 6px
}

.article-follow-info {
    font-size: 12px;
    color: #fff;
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.follow-divider {
    color: #ddd;
    margin: 0 4px;
}
