.avatarInfo {
    background: url('../../assets/lake.jpg') no-repeat;
    position: relative;
    padding: 20px 20px 20px;
    color: #fff;

    .qrcodeIcon {
        position: absolute;
        right: 20px;
        // top: 60px;
        line-height: 30px;
        font-size: 32px;
    }

    .tool {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        height: 25px;
    }

    .avatarShow {
        display: flex;
        // justify-content: space-between;
        align-items: center;

        .authorInfo {
            margin-left: 8px;
        }
    }
}

.funcList {
    display: flex;
    background: #fff;
    justify-content: space-between;
    margin: 12px 8px;
    padding: 10px 20px;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // padding: 20px;
        div:first-of-type {
            font-size: 30px;
        }
    }
}

.canClickList {
    padding: 9px;
}

// 事件记录
.eventList {
    padding: 6px
}
