.content {
    height: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    user-select: none;
}

.homePage {
    height: auto;
    background: #ffffff;
    position: relative;

    h1 {
        padding: 9px;
    }

    .headerSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headSearch {
        height: 160px;
        width: 100%;
        background: #002FA7;
    }

    .homeBottom {
        padding: 9px;

        .majorEvents {
            background: #F9DC24;
            padding: 9px;
            margin: 6px 0;
        }
    }
}
