.content {
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    user-select: none;
}

.homePage {
    height: auto;
    background: #ffffff;
    position: relative;

    h1 {
        padding: 9px;
    }

    .headerSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .homeBottom {
        padding: 9px;

        .majorEvents {
            background: #F9DC24;
            padding: 9px;
            margin: 6px 0;
        }
    }
}


.main {
    position: relative;
    height: (calc(100vh - 80px));
    overflow-y: auto;

    :global {
        .adm-tabs {
            position: sticky;
            top: 56px;
            background-color: #fff;
            z-index: 2;
        }
    }
}

.title {
    position: sticky;
    top: 0;
    z-index: 26;
    background: #fff;
}

.bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 140px;
    background-color: pink;
}
