.todoContainer {
    padding: 9px;
    height: 100vh;

    .time {
        display: flex;
        justify-content: center;
        padding: 9px;
    }

    .babyCard {
        .content {
            height: 50px;
        }

        .footer {
            padding-top: 11px;
            border-top: 1px solid #e5e5e5;
            display: flex;
            justify-content: flex-end;
        }

        .customBody {
            color: var(--adm-color-success);
        }
    }
}
