* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1677ff;
    --primary-bg: #f5f7fa;
    --primary-text: #222;
    --primary-btn: var(--primary-color);
    --primary-btn-text: #fff;
    --font-color: #222;
    --font-size: 16px;
    --tabbar-bg: #fff;
    --tabbar-active: var(--primary-color);
}

body {
    min-height: 100vh;
    background: var(--primary-bg);
    color: var(--font-color);
    font-size: var(--font-size);
    // background: url(@/assets/imgs/bg.png) center / cover;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    margin: 0;
}
